/Docker/dockerseries/dotnet2/MyWebProj/.vs
/Docker/dockerseries/dotnet2/MyWebProj/bin
/Docker/dockerseries/dotnet2/MyWebProj/obj
/Docker/dockerseries/dotnet2/MyWebProj/MyWebProj.csproj.user
/Docker/dockerseries/dotnet3/.vs
/Docker/dockerseries/dotnet3/bin
/Docker/dockerseries/dotnet3/obj
/Docker/dockerseries/dotnet3/MyWebProj.csproj.user
/Docker/dockerseries/dotnet4/src/MyWebProjNetFramework.csproj.user
/Docker/dockerseries/dotnet4/src/.vs
/Docker/dockerseries/dotnet4/src/bin
/Docker/dockerseries/dotnet4/src/obj
/Docker/dockerseries/dotnet5/src/obj
/Docker/dockerseries/dotnet5/src/.vs
/Docker/dockerseries/dotnet5/src/bin
/Docker/dockerseries/node1/node_modules
/Docker/dockerseries/node2/node_modules
/Docker/dockerseries/node3/node_modules
/Docker/dockerseries/node4/node_modules
/Docker/dockerseries/node5/node_modules
/Docker/dockerseries/node6/node_modules
/Docker/dockerseries/node7/node_modules
/Docker/dockerseries/dotnet4/src/packages
/Docker/dockerseries/dotnet5/src/packages
